<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Registration Succeeded - mediamaps</title>
	
	<!-- <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" /> -->
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>

</head>
<body>
<div class="container text-center">
	<div>
		<h3>You have signed up successfully to mediamaps!</h3>
		<h4><a th:href = "@{/login}">Click here to login</a></h4>
		<a></a>
	</div>


</div>

</body>
</html>